body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

section {
    margin-bottom: 30px;
    text-align: center;
}

.interaction-row {
    display: flex;
    justify-content: center;
}

.interaction-item {
    width: 150px;
    height: 150px;
    background-color: #f0f0f0;
    border: 2px solid #999;
    border-radius: 8px;
    margin: 0 10px;
    text-align: center;
    line-height: 150px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.interaction-item:hover {
    transform: scale(1.1);
}

.interaction-item p {
    margin: 0;
}

#droppable {
    width: 300px; /* Set a wider width */
    height: 300px; /* Set a taller height */
    background-color: #f0f0f0;
    border: 2px solid #999;
    border-radius: 8px;
    margin: 10px;
    text-align: center;
    line-height: 300px; /* Center text vertically */
}

.effect-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.effect-row > div {
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
}

.effect-row button {
    margin-bottom: 10px;
}

.box {
    width: 100%;
    height: 100px;
    background-color: lightgray;
    border: 1px solid #000;
    text-align: center;
    line-height: 100px;
}

.selectable {
    list-style-type: none;
	margin: auto;
    padding: 0;
	width: 200px;
    }
	
.selectable li {
    margin: 3px;
    padding: 0.4em;
    font-size: 1.4em;
	height: 18px;
    }
		
.ui-selected {
    background-color: #F39814;
    color: white;
    }

input[type="text"], button {
    margin: 10px;
    padding: 8px;
    font-size: 16px;
    border: 2px solid #999;
    border-radius: 8px;
}

button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}
